@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer components {
  .footer__title {
    @apply text-xl text-black mb-6
  }
  .footer__link {
    @apply text-black text-[15px] opacity-90 mb-4 w-fit cursor-pointer hover:text-yellow-600
  }
}

.item-shop {
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;

}